.formularioCorpo{
border-bottom: 1px solid #e5e5e5;
border-top: 1px solid #e5e5e5;
border-left: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;
width: 66%;
height: 873px;
margin: 50px auto 100px auto;
}
.divTopo{
width: 66%;
height: 25%;
margin: 50px auto 100px auto;
}
.divRodape{
    width: 66%;
    height: 25%;
    margin: 50px auto 100px auto;
    
}
.menu{
margin:10px 0px;
list-style:none; 

float:left; 
background:#B3DAA4;
}

.menu li{
width:150px;
height:40px;
position:relative; 
float:left; 
}

.menu li a{
color:black; 
text-decoration:none; 
text-align:center;
padding:10px; 
display:block;
}

.menu li a:hover{
background:#333; 
color:#fff; 

width:130px;
height:20px;

}

.menu li   ul{
position:absolute; 
top:40px; 
left:0;
background-color:#fff; 
display:none; 
}

.menu li:hover ul, 
.menu li.over ul{
display:block;
}

.menu li ul li{
border:1px solid #c0c0c0; 
display:block; 
width:150px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}